{% extends 'base.html.twig' %}
{% block title %}Accueil{% endblock %}
{% block body %}
<div class="container">
    <div class="txt">
        <p>
            Une nouvelle
            <span class="couleur">façon </span>
            qui va révolutionner le monde de la
            <span class="couleur">crypto </span>
        </p>
    </div>
    <div class="image">
        <img src="{{ asset('images/logo.png') }}">
    </div>
</div>
{% endblock %}
