{% extends 'base.html.twig' %}

{% block body %}
<div class="inscription-connexion">
       <div class="inscription">
              <h1>Inscription</h1>
              {{ form_start(form) }}
              {{ form_widget(form) }}
              <div class="form-group">
                     <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default">S'inscrire</button>
                     </div>
              </div>
       </div>
       <div class="connexion">

       </div>

</div>
    
    {{ form_end(form) }}
{% endblock %}